{%extends "homepage.html"%}

{%block content%}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(12, 5, 137, 0.2);
  transition: 0.3s;
  width: 30%;
  height: 30%;
  background-color:rgb(147, 83, 207);
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(36, 192, 49, 0.2);
}

.container {
  padding: 2px 16px;
}
#one{
    border-radius: 18px;
    padding: 20px; 
    width: 200px;
    height: 1px;    
}
#two{
  background-color: antiquewhite;
}
</style>
<body id = "two">
    {%if messages%}
    {%for message in messages%}
    <div class = "alert alert-success alert-dimissible">
      <a href = "#" class = "close" data-dismiss = "alert" alert-label = "close">&times;</a>
      <strong>{{message}}</strong>
    </div> 
    {%endfor%}
    {%endif%}
    <center>
    <form method="post">
      {%csrf_token%}
    <div class="card">
        <br>
      <div class = "card-header">Login</div>
      <br>
      <div class = "card-body">
      <table  id = 'round'>
       
        <tr>
          <td rowspan="1"></td>
        </tr>
    <tr>
      
      <td>Username</td>
        <td><input id = "one" type = "text" name = "uname" class = "form-control" placeholder="username" required ></td>
        </tr>

        <tr>

        <tr>
        <td>Password</td>
          <td><input  id = 'one'type = "password" name = "pwd" class="form-control" placeholder="password"></td>
     
        </tr>

      </table>
    
    <br></div>
      <div class = "card-footer"><button style="border-radius: 18px;" type = "submit" class = "btn btn-success"> Sign up</button></div>
      <br>
    </div></center></form>
    </body>
    </html> 
    {%endblock%}